.sidebar {
    position: fixed; /*vai deixar fixo na página*/
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 360px;
    background-color: #000000;
}

.sidebar .logo {
    background-color: var(--background-sidebar);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar_navigation {
    border-radius: 8px;
    cursor: pointer;
    background: var(--background-sidebar); 
}

.sidebar nav ul {
    margin-top: 10px;
    padding: 0 20px 20px 20px;
}

.sidebar nav ul li {
    padding: 15px 0 ;
}

.sidebar nav ul li {
    font-weight: 600;
    font-size: 16px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: var(--color-font-sidebar);
    transition: 0.4s;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li a .fa {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

.offer_scroll_library {
    max-height: 36vh;
    margin: 9px;
    overflow-y: auto;
}

.offer_scroll_library::-webkit-scrollbar {
    width: 1px;
}

.offer_scroll_library::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.sadebar_library {
    background-color: var(--background-sidebar);
    border-radius: 8px; 
    display: flex;
    justify-content: space-between; /*pesquisar depois*/
    flex-direction: column; /*sao 3 colunas: icon, texto, e o +*/
    padding: 4px 8px;
    color: var(--color-font-sidebar);
    margin-top: 10px;
}

.sadebar_library .container_library {
    display: flex;
    justify-content: space-between;
}

.sadebar_library .container_library .library_button {
    display: flex;
    margin-right: 10px;
    color: var(--color-font-sidebar);
    background-color: transparent;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    transition: 0.4s;
}

.sadebar_library .container_library .library_button:hover {
    color: #ffffff;
}

.sadebar_library .library_button .fa-book {
    font-size: 20px;
    margin-right: 10px;
    padding-right: 8px;
}

.sadebar_library .container_library .fa-plus {
    margin: 24px 10px;
    cursor: pointer;
    transition: 0.2s;
}

.sadebar_library .container_library .fa-plus:hover {
    color: #ffffff;
}

.section-playlist {
    display: flex;
    align-items: flex-start; /*o conteudo vai ficar no canto superior esquerdo*/
    justify-content:center;
    /*gap:20px; /*só com display:flex*/
    color: var(--color-font-sidebar);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    border-radius: 10px;
}

.section-playlist .section-playlist-content {
    display: grid;
    grid-template-columns: 1fr;
  
}

.card {
    position: relative;
    width: 300px;
    height: 90px;
    overflow: hidden;
    background-color: var(--background-section);
    margin-bottom: 20px;
    padding: 30px;
    
}

.card .card-content {
    display: flex;
    flex-direction: column;
    
}

.section-playlist-content .text {
    padding-bottom: 14px;
    color: #ffffff;
}

.section-playlist-content .title {
    font-weight: 700;
    font-size: 16px;
}

.section-playlist-content .subtitle {
    font-weight: 500;
    font-size: 14px;
}

.section-playlist-content .section-playlist-button {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0;
    width: 140px;
    transition: 0.1s;
}

.section-playlist-content .section-playlist-button:hover {
    transform: scale(1.05);
}

.sidebar .cookies{
    margin: 10px 20px;
}

.sidebar .cookies a {
    color: var(--color-font-sidebar);
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover { /*pseudo-classes mudam o estado do elemento*/
    text-decoration: underline;
}

.languages .languages_button{
    background-color: transparent;
    border: 1px solid var(--color-border-button);
    color: #ffffff;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    transition: 0.1s;
}

.languages .languages_button:hover {
    transform: scale(1.05);
    border-color: #ffffff;
}